/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

input[type="file"] {
	display: none;
}

.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    border-bottom: 1px solid #ddd;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.bar-nav {
    top: 0;
	border-bottom: 1px solid #ddd;
	  border-top-left-radius: 12px;
	  border-top-right-radius: 12px;
	  -webkit-box-shadow: none;
	          box-shadow: none;
}

.title {
	position: absolute;
	  display: block;
	  width: 100%;
	  padding: 0;
	  margin: 0 -10px;
	  font-size: 17px;
	  font-weight: 500;
	  line-height: 44px;
	  color: #000;
	  text-align: center;
	  white-space: nowrap;
}