// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_image {
	height: 200px;
	width: 250px;
}

.reviewer-image {
	height: 75px;
	width: 75px;
}

.public-product-image {
	width: 1050px;
	height: 500px;
}

.review-carousel-image {
	border-radius: 100%;
	height: 75px;
	width: 75px;
}
.comments-wrapper {
	background: rgba(0,0,0,.7); 
	width: 92.18%; 
	color: white; 
	margin-top: -20px;
	position: absolute; 
	bottom: 0px;
}