<p>
	<ul style="list-style:none;">
		<li>I had just orderd a lamb schwarma from my favorite Mediterranean spot in San Francisco on 16th and Valencia.</li>
		<br>
		<img src="http://s3-media1.fl.yelpcdn.com/bphoto/7jxpFc4PG8fP7ZWGYv0NBg/l.jpg" />
		<hr>
		<li>While waiting for my order a family, 2 parents and 2 kids, were outside trying to decide whether or not to come in and eat here for lunch.</li>
		<br>
		<img src="https://s3-us-west-2.amazonaws.com/presentation-assets/indecisive_fam.jpg" />
		<hr>
		<li>I saw this while waiting for my order inside, and because I like the owners, and the food is so exceptional, I said four simple words to the indecisive family that was looking over the menu outside the store. </li><br>
		<img style="height:350px;width:700px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/irrg.png" />
		<hr>
		<li>Within seconds the family was headed in to try and buy the food at the Mediterranean shop.</li>
	</ul>
</p>
<h3>What just Happened</h3>
<ul>
	<li>In less than 5 seconds and 5 words <strong>I brought $50.00+ in sales</strong> for the Mediterranean shop.</li>
	<li>An existing customer's testimony influenced a potential customer's purchasing decision. This isn't a new concept but the precise timing makes what I said extremely powerful.</li>
	
</ul>
<h3>What is it?</h3>
<p>
	<ul style="list-style:none;">
		<li>The story above is the personal experience that led to the creation of this app and the situation the app will automate and recreate.</li><br>
		<li>
			This app exists to help brick and mortar businesses convert their everyday storefront foot traffic into sales. It will prove extremely effective in converting passerby foot traffic into <strong>paying customers</strong> for brick and mortar businesses.
	</li>
	</ul>	
</p>
<h3>2 important questions for businesses with a fair amount of foot traffic</h3>
<ol>
	<li>How can we reproduce a similar situation?</li>
	<li>How can we automate it?</li>
</ol>
<h3>What I'm betting will work</h3>
<div class="row">
	<div class="col-md-4">
		<p>Instead of my ugly mug</p>
		<img style="width:78px;height:220px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/ug_mug.png">
	</div>
	 
	<div class="col-md-4">
		<p>let's use a screen.</p>
		<img style="width:470px;height:240px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/screen.jpg">
	</div>
</div>
<br>
<div class="row">
	<p>Instead of something generic like, "it's really good"</p>
	<div class="col-md-6">
		<img style="width:288px;height:196px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/irrg-rec.png" />
		<br><br><br><br>
	</div>
	<br>
	<div class="col-md-10">
		<p> let's have a more useful recommendation.</p>
		<img style="width:800px;height:133px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/more+detailed.png" />
		<br><br><br><br>
	</div>
</div>
<div class="row">
	<p>Let's add pictures of the food on the menu.</p>
	<div class="col-md-4">
		<img style="width:816px;height:612px;" src="https://s3-us-west-2.amazonaws.com/irrg-reviews/merchants/reviews/product_image/2/0fc0875307f4317a3d11.jpg" />
		<br><br><br><br>
	</div>
</div>
<div class="row">
	<p>Let's add the ability to have our existing customers leave these reviews and food pictures from their phone.</p>
	<div class="col-md-4">
		<img src="https://s3-us-west-2.amazonaws.com/presentation-assets/leave-review.png">
		<br><br><br><br>
	</div>
</div>
<div class="row">
	<p>Let's take those reviews, make them look engaging, and display them on the screen (instead of my mug).</p>
	<div class="col-md-4">
		<img src="https://s3-us-west-2.amazonaws.com/presentation-assets/portrait+device.png">
		<br><br><br><br>
	</div>
</div>
<div class="row">
	<p>Finally, let's put the screen on the storefront of the business to influence passerby foot traffic.</p>
	<div class="col-md-4">
		<img style="width:816px;height:612px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/storefront.jpg">
	</div>
	<p>note: this device is not mounted on the window as it would be in practice.</p>
</div>
<br><br>
<div class="row">
<h3>What it wcould look like to a passerby</h3>
<p>Press play below to see what it could look like from a passerby persecective.</p>
<iframe width="640" height="480" src="//www.youtube.com/embed/PQAaHv3-Q8w?rel=0" frameborder="0" allowfullscreen></iframe>

<br><br>
<h3>The entire flow</h3>
	<ol>
		<li>Existing customers leave reviews on specific items (phone web browser <a target="_blank" href="http://www.reallygood.io">reallygood.io</a>), while in the store, after they get their order.
			<br>
			<br>
		<a target="_blank" href="https://s3-us-west-2.amazonaws.com/presentation-assets/leave-review.png"><img style="width:200px;height:401px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/leave-review.png"></a>
		<p>Click <a target="_blank" href="https://s3-us-west-2.amazonaws.com/presentation-assets/leave-review.png">image</a> to see bigger screenshot</p>
		</li><br><br>
		<li>These reviews are transformed/designed specifically for tablet screens for storefront display.
			<br>
			<br>
		<a target="_blank" href="https://s3-us-west-2.amazonaws.com/presentation-assets/portrait+device.png">	
		<img style="width:450px; height: 347px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/portrait+device.png"></a>
		<p>Click <a target="_blank" href="https://s3-us-west-2.amazonaws.com/presentation-assets/portrait+device.png">image</a> to see bigger screenshot</p>
		</li><br><br>
	
		<li>
			The tablet is then placed on the inside of storefront window to convert passerby foot traffic into sales. <br><br>
			<img style="width:852px;height:480px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/storefront-tab.jpg">
		</li><br><br>
	</ol>
</div>
<div class="row">
	<h3>Entertaining what's possible</h3>
	<ul style="list-style:none;">
		<li>If I was able to convert for <strong>$50.00 with 4 words in 5 seconds</strong><br><br>
			<img style="height:350px;width:700px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/irrg.png" />
			<br><br>
			how much might we convert for businesses if we use more descriptive words, actual pictures and have it run 24/7?
			<br>
			<br>
			<img style="height:350px;width:700px;" src="https://s3-us-west-2.amazonaws.com/presentation-assets/flipped-shot.png" />
		<p><i>Obviouly, the tablet would face the street.</i></p>
		</li>
		<br><br>
		<li>What would be the effect after <strong>1 month, 5 months, 1 year?</strong>
		<li>These are the questions I want to help businesses answer and I have the roadmap on how to do it.</li><br>
	</ul>
</div>
<hr>
<a href="mailto:tony.michaelramirez@gmail.com?subject=already%20been%20done" class="btn btn-lg btn-success">Can't businesses use existing pictures/review?</a>
<br><br>
<a href="mailto:tony.michaelramirez@gmail.com?subject=whats%20the%20incentive" class="btn btn-lg btn-success">Why would customers leave reviews?</a>
<br><br>
<a href="mailto:tony.michaelramirez@gmail.com?subject=ok%20how%20much" class="btn btn-lg btn-success">How much does it cost?</a>

<br><br>
<br>