<!DOCTYPE html>
<html>
<head>
  <title>Irrg</title>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.min.js" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>New review</h1>

	<%= render 'form' %>

</body>
</html>