<!DOCTYPE html>
<html>
<head>
  <title>Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="refresh" content="7200">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="width:100%;">
	<br><br><br>
	<div id="public-feed-carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="7200">
		<div class="carousel-inner">
			<%= render 'public_carousel' %>
		</div>
	</div>
</div>

<script>
$('#public-feed-carousel').carousel();

$(function() {
	$('div.carousel-inner .item:first-child').addClass("active");
});
	
</script>
<script>
function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);
}
refreshAt(4,36,0);
refreshAt(7,45,0);
refreshAt(8,0,0);
</script>
</body>
</html>