
<% @public_reviews.each do |feed| %>
	<div style="position:relative;">
		<%= image_tag feed.product_image, class: "public-product-image" %><br>
 		<div class="comments-wrapper">
			<div class="comment-guts row">
				<div class="media" style="padding:15px;">
				  <a class="pull-left" href="#">
				    <%= image_tag feed.reviewer_image, class: "review-carousel-image" %>
				  </a>
				  <div class="media-body">
				    <h2 class="media-heading">Chicken Tiki masala</h2>
				    <p style="font-size:1.55em;">"<i><%= feed.comment %></i>"</p>
				  </div>
				</div>
				<div class="col-md-3 col-md-offset-5" style=" font-size:1.35em;padding-bottom:10px;">									
					- <%= feed.email %>
				</div>	
			</div>
				
		</div>
	</div>	

	<br><br>			
<% end %>