<div id="public-feed-carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="4000">
	<div class="carousel-inner">
		<%= render 'public_carousel' %>
	</div>
</div>

<script>

$(function() {
	$('div.carousel-inner .item:first-child').addClass("active");
});
	
</script>